########################################
# Basic Macros
########################################

[gcode_macro IDEX_HOME_Y]
gcode:
    G28 Y
    G90
    G1 Y175 F36000

[gcode_macro IDEX_HOME_X]
gcode:
    G28 X 
    T1 
    T0

###### PARK ######

[gcode_macro PARK_extruder]
gcode:
    SAVE_GCODE_STATE NAME=park0
    G90
    G1 X-30.5 F36000
    RESTORE_GCODE_STATE NAME=park0
    
[gcode_macro PARK_extruder1]
gcode:
    SAVE_GCODE_STATE NAME=park1
    G90
    G1 X390.5 F36000
    RESTORE_GCODE_STATE NAME=park1

###### TOOL SELECTION ######

[gcode_macro T0]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    
[gcode_macro T1]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1



[homing_override]
axes: xyz
gcode:
    G1 F36000
    IDEX_HOME_X
    G90
    G1 X100
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    G90
    G1 X250
    IDEX_HOME_Y
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    G1 X0
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    G1 X65
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    IDEX_HOME_X
    G1 X175 Y175
    G28 Z
    PARK_EXTRUDER


[z_tilt]
##	Use Z_TILT_ADJUST to level the bed left to right.
##	z_positions: Location of toolhead
z_positions:
	-36, -25
	175, 373	
	386, -25
points:
	30,30
	175,320
	320,30
speed: 150
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.1

#[safe_z_home]
#home_xy_position: 175, 175
#speed: 50.0
#z_hop: 5
#z_hop_speed: 15.0
#move_to_previous: True
